.left-contents {
  
  margin: 0 auto;
  .upper-content {
    height: 200px;
    width: 720px;
    margin: 0 auto;

    .title {
      height: 60px;
      width: 100%;
      font-size: 35px;
      font-weight: bold;
      color: rgb(77, 79, 80);
      text-align: center;
    }


    .formbox {
      display: flex;
      justify-content: center;

      &__food {
        height: 50px;
        width: 60px;
        border-bottom: solid 1px rosybrown;
        line-height: 60px;
        text-align: center;
        margin-right: 7px;
      
        &__name {
          width: 200px;
          border-radius: 10px;
          border-style: none;
          margin-right: 25px;
          outline: none;
        }
      }

      
      &__date {
        height: 50px;
        width: 70px;
        border-bottom: solid 1px rosybrown;
        line-height: 60px;
        text-align: center;
        margin-left: 15px;
        margin-right: 7px;

        &__limit {
          
          width: 200px;
          border-radius: 10px;
          border-style: none;
          outline: none;
          
        }
      }
    }
      .btn {
        text-align: center;
        margin-top: 15px;

      .submit-btn {
        height: 50px;
        width: 130px;
        margin-top: 10px;
        border-radius: 15px;
        background-color: rosybrown;
        /* border: solid 3px rosybrown; */
        cursor: pointer;
        outline: none;

      }
    }
  }

  .main-content {
    height: 100%;
    width: 100%;

    .title-content {
      background-color: #395063;
      display: flex;
      justify-content: center;


      &__food {
        height: 50px;
        width: 270px;
        font-size: 25px;
        line-height: 50px;
        margin-left: 70px;
        padding-left: 20px;
        
      }
      &__limit {
        height: 50px;
        width: 270px;
        font-size: 25px;
        line-height: 50px;
        padding-left: 10px;
      }
    }
    .list {
      height: 100%;
      width: 660px;
      display: flex;
      position: relative;
      

      &__foods {
        position: absolute;
        left: 70px;
        
        &__one {
          height: 50px;
          width: 200px;
          // background-color: rgb(129, 129, 243);
          margin: 0 30px 0 50px;
          border-bottom: solid 1px rosybrown;
          line-height: 70px;
          padding-left: 10px;
        }
      }
      &__limit {
        position: absolute;
        left: 350px;

        &__date {
          height: 50px;
          width: 200px;
          // background-color: rgb(128, 128, 209);
          margin-right: 10px;
          border-bottom: solid 1px rosybrown;
          line-height: 70px;
          margin-left: 30px;
          padding-left: 10px;
        }
      }
      &__edit {
        position: absolute;
        right: 10px;

        &__btn {
          background-color: rosybrown;
          border-radius: 30px;
          text-align: center;
          height: 30px;
          width: 45px;
          margin-right: 5px;
          line-height: 30px;
          margin: 20px 0;
          font-size: 12px;
        }
      }
      &__delete {
        position: absolute;
        right: -55px;

        &__btn {
          background-color: rosybrown;
          border-radius: 30px;
          text-align: center;
          height: 30px;
          width: 45px;
          margin-right: 5px;
          line-height: 30px;
          margin: 20px 0;
          font-size: 12px;
        }
      }
    }
  }
}