.notification {
  .notice {
    background-color: lightseagreen;
    color: white;
    text-align: center;
  }
  .alert{
    background-color: lightsalmon;
    color: white;
    text-align: center;
  }
}