%header
  .header-contents
    .header-contents__title
      .title-box
        Kicchiri Kanri
      .title-memo
        おうちの食材、きちんと管理
      .manage
        .manage-btn
          = link_to user_path(current_user), class: 'manage__btn' do
            マイページ

.main-edit
  = render 'edit-form'