.main-content 
  
  .title-content 
    .title-content__food
      
      Food Name
    .title-content__limit
      Limit Date
  .list
    .list__foods
    = @memo.food

    = link_to root_path do
      top
      
    -#   - @memo.each do |memo|
    -#     .list__foods__one 
    -#       = icon('fas','fish')
    -#       = memo.food

    -# .list__limit
    -#   - @memo.each do |memo|
    -#     .list__limit__date
    -#       = icon('fas', 'exclamation-triangle')
    -#       = memo.limit_date
    -# .list__edit-btn
    -#   編集
    -# .list__delete-btn
    -#   削除



